/* Mac Traffic Lights */
.mac-window-btn {
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-font-size: 8px; /* Tiny icons */
}
.mac-window-btn .ikonli-font-icon {
    -fx-icon-color: #555555; /* Icon color inside the circle */
}
.mac-window-btn:hover {
    -fx-opacity: 0.9;
}