.styled-text-area {
    -fx-font-family: "Monospaced";
    -fx-font-size: 14px;

    /* BACKGROUND COLOR (Nord Dark) */
    -fx-background-color: #fff;

    /* IMPORTANT: BASE TEXT COLOR */
    -fx-fill: #d8dee9; /* Light Grey/White */
    -fx-text-fill: #d8dee9;
    -fx-highlight-fill: #4c566a; /* Selection Color */
    -fx-highlight-text-fill: white;
}
.keyword {
    -fx-fill: #81a1c1; /* Nord Blue */
    -fx-font-weight: bold;
}

.semicolon {
    -fx-fill: #81a1c1;
    -fx-font-weight: bold;
}

.string {
    -fx-fill: #a3be8c; /* Nord Green */
}

.comment {
    -fx-fill: #616e88; /* Nord Grey */
    -fx-font-style: italic;
}

.paren {
    -fx-fill: #d8dee9; /* Nord White */
    -fx-font-weight: bold;
}

