.styled-text-area {
    -fx-font-family: "Monospaced";
    -fx-font-size: 14px;
    -fx-background-color: #2e3440; /* Nord Dark Background */
}

.keyword {
    -fx-fill: #81a1c1; /* Nord Blue */
    -fx-font-weight: bold;
}

.semicolon {
    -fx-fill: #81a1c1;
    -fx-font-weight: bold;
}

.string {
    -fx-fill: #a3be8c; /* Nord Green */
}

.comment {
    -fx-fill: #616e88; /* Nord Grey */
    -fx-font-style: italic;
}

.paren {
    -fx-fill: #d8dee9; /* Nord White */
    -fx-font-weight: bold;
}